<!-- Subscribe Modal -->
<div class="modal fade" id="subscribe-modal" tabindex="-1" aria-labelledby="subscribe-modalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="subscribe-img">
          <img src="{{ settings.popup_image | img_url : "master" }}" class="lazyload" alt="subscribe-img">
        </div>
        <div class="subscribe-text">
          <button data-bs-dismiss="modal" aria-label="Close"><img src="{{ 'close-modal.png' | asset_img_url : "master" }}" alt="close-modal"></button>
          <h5> {{ settings.title }} </h5>
          {% assign formId = 'Contact_' | append : section.id %}
          {% form 'customer', id : formId %}
          {%- if form.posted_successfully? -%}
              <p class="form-message form-message--success" tabindex="-1" data-form-status>
                {{ 'general.newsletter_form.confirmation' | t }}
              </p>
           {%- endif -%}
          <input type="hidden" value="newsletter" name="contact[tags]" >
            <div class="input-container">
              <input type="text" placeholder="First Name" required="required" id="{{ formId }}-firstname" name="contact[first_name]" value="{% if form.first_name %}{{ form.first_name}}{% endif %}">
            </div>
            <div class="input-container">
              <input type="text" placeholder="Last Name" required="required" id="{{ formId }}-lastname" name="contact[last_name]" value="{% if form.last_name %}{{ form.last_name}}{% endif %}">
            </div>
            <div class="input-container">
              <input type="email" placeholder="Email Address" required="required" id="{{ formId }}-email" name="contact[email]" value="{% if form.email %}{{ form.email}}{% endif %}">
            </div>
            <input type="submit" value="Subscribe Now" class="custom-site-btn custom-site-btn2">
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>