<section class="home-banner lazyload" style="background-image: url('{{ section.settings.banner | img_url : "master" }}');">
  <div class="container">
    <div class="home-text">
      <div class="logo">
        <a href="{{ routes.root_url }}"><img src="{{ section.settings.logo | img_url : "master" }}" class="lazyload" alt="logo"></a>
      </div>
      <h4>{{ section.settings.heading }}</h4>
      {{ section.settings.info }}
      <div class="home-text-btns">
      <a href="#" class="custom-site-btn" data-bs-toggle="modal" data-bs-target="#subscribe-modal">Subscribe
        Now</a>
        {% comment %}
		{% if section.settings.link != blank and section.settings.button_text != blank %}
        <a href="{{ section.settings.link }}" class="custom-site-btn"> {{ section.settings.button_text }} </a>			
		{% endif %}
        {% endcomment %}
      </div>
    </div>
   
    <div class="scroll-down">
       {% comment %}
      <a href="#scroll-down">
        <span></span>
        <img src="{{ 'scroll.png' | asset_img_url : "master" }}" class="lazyload" alt="scroll">
      </a>
      {% endcomment %}
      <h6> {{ section.settings.heading }} </h6>
      <div class="insta-email-link">
        {% if settings.social_instagram_link != blank %}
        <a href="{{ settings.social_instagram_link }}" class="custom-site-btn"><i class="fa fa-instagram" aria-hidden="true"></i>{{  section.settings.insta_heading }}</a>
        {% endif %}
        <a href="#" class="custom-site-btn"><img src="https://cdn.shopify.com/s/files/1/0570/4217/4089/files/email-icon.svg?v=1647336561">Email Us</a>
      </div>
    </div>
    
  </div>
  <div class="mobile-img d-none">
    <img src="https://cdn.shopify.com/s/files/1/0570/4217/4089/files/mobile-banner.png?v=1647337081">
  </div>
</section>
 
  

{% schema %}
  {
    "name": "Banner",
    "settings": 
	[
		{
			"type" : "image_picker",
			"id" : "logo",
			"label" : "Logo"
		},
		{
			"type" : "text",
			"id" : "heading",
			"label" : "Heading"
		},
		{
			"type" : "richtext",
			"id" : "info",
			"label" : "Description"
		},
		{
			"type" : "image_picker",
			"id" : "banner",
			"label" : "Banner"
		},
		{
			"type" : "text",
			"id" : "button_text",
			"label" : "About",
			"default": "About Us"
		},
		{
			"type": "url",
			"id": "link",
			"label": "Link"
		}
	],
	"presets":
	[
		{
			"name" : "Banner",
			"category" : "Custom Sections"
		} 
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
